@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;

  --primary: #b30000;
  --primary-dark: #8a0000;
  --accent: #ff2a2a;

  --card: #1a1a1a;
  --border: #2a2a2a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Smooth UI base */
button {
  transition: all 0.2s ease;
}